{% extends "main/layout.html" %}
{% block title %}Contact path{% endblock %}
{% block content %}
<div class="index-main">
    <h1 class="about_h1">We are glad you are here</h1>
    <p class="about_p">
        Programming is a great way to create something from nothing.
        It’s also an incredibly powerful tool for problem solving and automation.
        On this website, you can explore the basics of programming, find out what type of language is best for you,
        learn about different programming paradigms, and more!
        We’ll also keep you up to date on the latest programming news and trends, so that you’re always one step ahead.
        So whether you’re just starting out or already a seasoned developer, come join us and learn how to make things happen with programming!
    <img class="img_about" width="900" height="400" src="https://img3.akspic.ru/crops/9/4/7/1/7/171749/171749-amoled_pejzazh-illustracia-planshet-smartfon-rastenie-3840x2160.png">


</div>


{% endblock %}

