{% extends "main/layout.html" %}
{% block title %}Contact path{% endblock %}
{% block content %}
<div class="index-main">
    <h1 class="contact_h1">Info for you</h1>
    <p class="contact_p">
        If you have any questions, concerns or comments, please get in touch with us.<br>
        Contact us via email at emailprotected@gmail.com,<br>
        by phone at +1 555 123 4567.<br>
        Address: 1234 High Street, London, UK<br>
        We look forward to hearing from you!<br>

</div>


{% endblock %}


