{% extends "main/layout.html" %}
{% block title %}Contact path{% endblock %}
{% block content %}
<div class="index-main">
    <h1 class="main_h1">My project</h1>
    <p class="main_1_p">This is a test project to evaluate the functionality of a new product.
        The test project will provide us with feedback on how well the new
        product performs under various conditions and scenarios.
        We will also use this project to assess the usability of the new
        product by measuring user satisfaction and performance.
        All feedback will be used to improve the product and make it more usable for our customers.</p>
    <img class="img1" width="340" height="250" src="https://telegram.org.ru/uploads/posts/2020-02/1582888810_priroda-1920x1080-priroda-21456.jpg">
    <img class="img2" width="340" height="250" src="https://img1.akspic.ru/crops/1/6/4/8/6/168461/168461-vash_nacionalnyj_les-les-priroda-voda-atmosfera-3840x2160.jpg">
    <h2 class="text">
        Welcome to Our Website!<br>
        We are pleased to have you visit our website.
    </h2>
</div>


{% endblock %}