
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');



.bgimg{
    position: absolute;
    background-size: cover;
    z-index: -25;
}

.mainButton{
    top: 25px;
    font-size: 25px;
    position: absolute;
    text-align: center;
    width: 1000px;
    height: 400px;
    display: flex;
    font-family: 'Oswald', sans-serif;
    left: 377px;

}


button{
    position: relative;
    width: 180px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


button: hover{
    border-button: 2px solid rgb(85, 255, 167);
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 4px 2px -2px rgb(0, 255, 123);
    text-shadow: 1px 1px 2px rgb(85, 255, 167);
}

a{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.index-main{
    width: 1100px;
    height: 450px;
    position: absolute;
    top: 200px;
    color: white;
}

.main_h1{
    left: 70px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    ext-transform: uppercase;
    background-image: linear-gradient(-225deg,
            white 0%,
            #44107a 29%,
            #ff1361 67%,
            white 90%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: white;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
}
@keyframes textclip {
    to {
    background-position: 200% center;
    }
}


.main_1_p{
    left: 70px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    top: 65px;
    opacity: 0.92;
}


.img1{
    left: 90px;
    position: absolute;
    width: 500px;
    height 450px;
    border-radius: 15px;
    top: 200px;
    opacity: 0.8;
    transition: 1s opacity;
}

.img1:hover{
    opacity: 1;

}

.img2{
    left: 750px;
    position: absolute;
    width: 500px;
    height 450px;
    border-radius: 15px;
    top: 200px;
    opacity: 0.8;
    transition: 1s opacity;
}

.img2:hover{
    opacity: 1;

}